<div class="container">
    <div class="row">
        <div class="col-sm-8 "  style="width: 200px; height: 200px;">
           
            <img src="<%= data.result1.imgBig %>" alt="">
        </div>
        <div class="col-sm-4" style="width: 200px; height: 200px;">
           <img src="<%= data.result2.imgBig %> "alt="">
           <img src="<%= data.result3.imgBig %> "alt="">
           
        </div>
    </div>
</div>